html, body {
    height: 100%;
    font-family: arial, sans-serif;
    margin: 0;
    text-align: center;
    background: url("https://scontent.fpmo3-1.fna.fbcdn.net/v/t1.6435-9/235195307_226559606139436_3616314051545557529_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=WJmvDEQYclUAX-e2AiA&_nc_ht=scontent.fpmo3-1.fna&oh=3487bf7069596dba59bbd0cd0a41462f&oe=6145EE80");
    background-size: cover;
}


main {
    padding: 40px;
}

h1 {
    font-weight: lighter;
    margin: 0 0 20px 0;
}

h3 {
    margin: 0 0 20px 0;
}

p {
    line-height: 1.5;
}